.titulo{
    font-size: 5rem;
   color: brown;
}
.navbar {
    background-color: crimson;
    color: antiquewhite;
}
.navbar:hover{
background-color: rgb(88, 10, 10);
}
.stimpy{
    color: antiquewhite;
}
.footer{
    display: flex;
    background-color: aqua;
    border: 5px black solid;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}
.btn:hover {
    color: brown;
    background-color: blueviolet;
    transition: 0.5s;
}
.row {
    justify-content: space-evenly;
    background-color: black;
}