.titulo{
    font-size: 5rem;
   color: brown;
}
.navbar {
    background-color: crimson;
    color: antiquewhite;
}
.navbar:hover{
background-color: rgb(88, 10, 10);
}
.stimpy{
    color: antiquewhite;
}

.btn:hover {
    color: brown;
    background-color: blueviolet;
    transition: 0.5s;
}
.row {
    justify-content: space-evenly;
    background-color: black;
}
.rows img {
    width: 300px;
    height: 300px;
}